:root {
	--theme-blue: #4990e2;
	--global-padding: 8px;
	--gap: 8px;
}
/* Typography */
* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.coral-pixels-regular {
	font-family: "Coral Pixels", serif;
	font-weight: 400;
	font-style: normal;
}
li {
	margin-left: 1em;
}
/* Layout and Structure */
html, body {
	height: 100svh;
	width: 100svw;
	overflow: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	align-content: center;
	user-select: none;
	background-image: url("../images/bg.gif");
	background-size: cover;
	background-color: #f2f6f5;
}
@media (max-width: 600px) {
	body {
		background-image: none;
	}
}

.fade-out {
	opacity: 0 !important;
}

#tooltip {
	width: 100%;
	padding: 15px;
	background-color: #4d91ff;
	border: var(--gap) solid white;
	border-bottom: 0;
	transition: 
		background-color 300ms linear, 
		opacity 0.3s ease;
	opacity: 1;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* Flex layout */
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
}

#tooltip-right {
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	align-items: center;
}

#tooltip-right img {
	height: 60px;
	image-rendering: pixelated;
	cursor: pointer;
}

#grid-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(100%, 700px);
	height: 100%;
	/*row-gap: var(--gap);*/
}

#grid {
	z-index: 0;
	border: var(--gap) solid transparent;
	aspect-ratio: 1 / 1;
	gap: var(--gap);
	display: grid;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#grid.active {
	background-color: white;
	border: var(--gap) solid white;
}

.cell-container {
	position: relative;
	display: flex;
	align-items: flex-end;
	/* vertical */
	justify-content: center;
	background-size: cover;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.cell-container.show-loading {
	background-image: url("../images/loading.gif");
}

.cell {
	overflow: hidden;
	background-color: white;
	position: absolute;
	background-size: cover;
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.3s ease;
	will-change: opacity;
	/*box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);*/
}

.cell:hover {
	box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.16);
}

.cell.active {
	opacity: 1 !important;
}

.cell .overlay-text {
	z-index: 3;
	bottom: 0;
	position: absolute;
	color: white;
	font-size: 18px;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	pointer-events: none;
	/* so clicks pass through to cell if needed */
	transition: opacity 0.3s linear;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 600px) {
	.cell .overlay-text {
		font-size: 13px;
	}
}
.cell .controls {
	width: 100%;
	height: 100%;
	flex-direction: row;
	opacity: 0;
	display: flex;
	cursor: pointer;
	gap: 2px;
}
.cell .controls:hover {
	opacity: 0.6;
}
.cell.active .controls {
	cursor: pointer;
}
.cell .controls .approve, .cell .controls .reject{
	height: 100%;
	flex: 1;
}
.cell .controls .approve {
	background-color: green;
}
.cell .controls .reject {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.cell .controls .reject .word, .cell .controls .reject .image {
	flex: 1;
	background-color: red;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cell .controls .approve:hover,  .cell .controls .reject .word:hover, .cell .controls .reject .image:hover {
	border: 3px solid white;
}
.cell .mask {
	background-size: cover;
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ededed;
	transition: opacity 0.3s linear;
}

#splash-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    opacity: 1;
    visibility: hidden;
    will-change: transform, opacity;
    transition:
        transform 1.6s cubic-bezier(0.25, 1, 0.5, 1),
        opacity 1.6s ease-out;
}
#splash-text {
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

#splash-container.expand {
    visibility: visible;
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
}
@media (max-width: 600px) {
	#splash-container {
		width: 6em;
	}
	#splash-container.expand {
		transform: translate(-50%, -50%) scale(3);
	}
}

/* Buttons */
.button {
	display: inline-block;
	color: inherit !important;
	text-align: center;
	text-decoration: none;
	box-sizing: content-box;
	font-size: min(15px, max(4.4vw, 12px));
	padding: 10px 18px 10px 18px;
	margin: 12px 5px 12px 5px;
	width: 10ch;
	background-color: transparent;
	outline: none;
	border-radius: 8px;
	border: 1.5px solid;
	border-color: black;
}
.button:hover, .button:active, .button.active {
	background-color: var(--theme-blue);
	color: white !important;
	text-decoration: none;
	border-color: transparent;
}
.button:hover, .button:active {
	cursor: pointer;
}
.button.auto {
	width: auto;
}
input {
	color: inherit !important;
	text-align: center;
	box-sizing: content-box;
	font-size: min(15px, max(4.4vw, 12px));
	padding: 10px 18px 10px 18px;
	margin: 12px 5px 12px 5px;
	color: inherit;
	background-color: transparent;
	outline: none;
	border-radius: 8px;
	border: 1.5px solid;
	border-color: black;
}
.button.active, input:focus {
	opacity: 0.7;
}
a img {
  display: block; /* or inline-block if necessary */
  text-decoration: none;
}
span.half-line-break {
	width: 100%;
	display: block;
	height: 0.5em;
}